{:highlights [{:id #uuid "65dc5560-5e8f-4aae-861c-4d1810925e7e",
               :page 1,
               :position {:bounding {:x1 76.390625,
                                     :y1 776.59375,
                                     :x2 474.9120788574219,
                                     :y2 835.40625,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 76.390625,
                                   :y1 776.59375,
                                   :x2 474.8197021484375,
                                   :y2 795.59375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 76.390625,
                                   :y1 796.5,
                                   :x2 474.9120788574219,
                                   :y2 815.5,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 76.390625,
                                   :y1 816.40625,
                                   :x2 370.2864074707031,
                                   :y2 835.40625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 1},
               :content {:text "Geriatric hip fractures due to osteoporosis, also known as hip fragility fractures (HFF), are currently a prominent and burdensome issu"},
               :properties {:color "yellow"}}
              {:id #uuid "65dc55c2-1efa-43b3-84ad-ab17369ba885",
               :page 2,
               :position {:bounding {:x1 122.046875,
                                     :y1 216.734375,
                                     :x2 485.89801025390625,
                                     :y2 286.03125,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 122.046875,
                                   :y1 216.734375,
                                   :x2 417.9050598144531,
                                   :y2 234.734375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 122.046875,
                                   :y1 234.125,
                                   :x2 475.2986755371094,
                                   :y2 251.125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 122.046875,
                                   :y1 251.640625,
                                   :x2 485.89801025390625,
                                   :y2 268.640625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 122.046875,
                                   :y1 269.03125,
                                   :x2 383.5010681152344,
                                   :y2 286.03125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 2},
               :content {:text "On-site specialists, early discussion regarding treatments plans, timely use of peripheral nerve blocks and surgical intervention in less than 24 h can decrease mortality and morbidity in these patients"},
               :properties {:color "yellow"}}
              {:id #uuid "65dc55dc-4803-4861-bf01-36ed4ec4071a",
               :page 2,
               :position {:bounding {:x1 122.046875,
                                     :y1 298.890625,
                                     :x2 464.9176940917969,
                                     :y2 368.1875,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 122.046875,
                                   :y1 298.890625,
                                   :x2 459.2808532714844,
                                   :y2 316.890625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 122.046875,
                                   :y1 316.28125,
                                   :x2 464.9176940917969,
                                   :y2 333.28125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 122.046875,
                                   :y1 333.671875,
                                   :x2 457.11700439453125,
                                   :y2 350.671875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 122.046875,
                                   :y1 351.1875,
                                   :x2 294.55926513671875,
                                   :y2 368.1875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 2},
               :content {:text "Regional anesthesia has been proven to aid in pain control and decrease narcotic requirements lowering the risk of postoperative delirium and other adverse effects in patients with HFF"},
               :properties {:color "yellow"}}
              {:id #uuid "65dc5618-2b0f-459c-a7f9-10ba31b7c32f",
               :page 2,
               :position {:bounding {:x1 780.8009033203125,
                                     :y1 836.859375,
                                     :x2 902.5689697265625,
                                     :y2 855.859375,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 780.8009033203125,
                                   :y1 836.859375,
                                   :x2 902.5689697265625,
                                   :y2 855.859375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 2},
               :content {:text "nesthetic goals"},
               :properties {:color "red"}}
              {:id #uuid "65dc5621-89f0-4583-89f6-0d6c731362e7",
               :page 2,
               :position {:bounding {:x1 526.390625,
                                     :y1 856.765625,
                                     :x2 924.9576416015625,
                                     :y2 935.5,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 526.390625,
                                   :y1 856.765625,
                                   :x2 924.9576416015625,
                                   :y2 875.765625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 526.390625,
                                   :y1 876.671875,
                                   :x2 924.8170166015625,
                                   :y2 895.671875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 526.390625,
                                   :y1 896.71875,
                                   :x2 924.828369140625,
                                   :y2 915.71875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 526.390625,
                                   :y1 916.5,
                                   :x2 574.0108642578125,
                                   :y2 935.5,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 2},
               :content {:text "adequate analgesia (ideally with a peripheral nerve block), hemodynamic stability, avoidance of ischemia and hypoxia and limiting use of centrally acting drugs."},
               :properties {:color "yellow"}}
              {:id #uuid "65dc5642-76ca-46c9-b898-f2a8dafdabda",
               :page 3,
               :position {:bounding {:x1 76.390625,
                                     :y1 219.125,
                                     :x2 474.8977355957031,
                                     :y2 297.84375,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 76.390625,
                                   :y1 219.125,
                                   :x2 474.81878662109375,
                                   :y2 238.125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 76.390625,
                                   :y1 239.03125,
                                   :x2 474.86334228515625,
                                   :y2 258.03125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 76.390625,
                                   :y1 258.9375,
                                   :x2 474.8977355957031,
                                   :y2 277.9375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 76.390625,
                                   :y1 278.84375,
                                   :x2 380.5304260253906,
                                   :y2 297.84375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 3},
               :content {:text "On-site specialists, early discussion regarding treatments plans, timely use of peripheral nerve blocks and surgical intervention in <24 hours affect both outcomes and posthospital placement."},
               :properties {:color "yellow"}}
              {:id #uuid "65dc56f1-169a-4184-a228-831c13f27635",
               :page 5,
               :position {:bounding {:x1 504.859375,
                                     :y1 557.859375,
                                     :x2 903.4051513671875,
                                     :y2 636.578125,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 789.1452026367188,
                                   :y1 557.859375,
                                   :x2 903.4051513671875,
                                   :y2 576.859375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 504.859375,
                                   :y1 577.765625,
                                   :x2 903.27685546875,
                                   :y2 596.765625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 504.859375,
                                   :y1 597.671875,
                                   :x2 903.2835083007812,
                                   :y2 616.671875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 504.859375,
                                   :y1 617.578125,
                                   :x2 903.1657104492188,
                                   :y2 636.578125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 5},
               :content {:text "uccessful local anesthetic injection occurs deep to the Psoas tendon without spread to the femoral nerve and thus providing sensory blockade while avoiding motor"},
               :properties {:color "yellow"}}
              {:id #uuid "65dc56f7-45ac-4a4c-9f8d-22ce6e1d7462",
               :page 6,
               :position {:bounding {:x1 97.921875,
                                     :y1 657.40625,
                                     :x2 167.6867218017578,
                                     :y2 676.40625,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 97.921875,
                                   :y1 657.40625,
                                   :x2 167.6867218017578,
                                   :y2 676.40625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 6},
               :content {:text "weaknes"},
               :properties {:color "yellow"}}
              {:id #uuid "65dc56ff-8054-4a0b-8c57-453aac30cb4d",
               :page 6,
               :position {:bounding {:x1 97.921875,
                                     :y1 677.3125,
                                     :x2 496.4329833984375,
                                     :y2 716.359375,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 167.38711547851562,
                                   :y1 677.3125,
                                   :x2 496.4329833984375,
                                   :y2 696.3125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 697.359375,
                                   :x2 230.55764770507812,
                                   :y2 716.359375,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 6},
               :content {:text "reducing pain scores without quadriceps’ muscle weaknes"},
               :properties {:color "yellow"}}
              {:id #uuid "65dc6a2b-5c9e-42e2-a982-398596abf8e2",
               :page 6,
               :position {:bounding {:x1 97.921875,
                                     :y1 1016.171875,
                                     :x2 496.3883056640625,
                                     :y2 1114.8125,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 97.921875,
                                   :y1 1016.171875,
                                   :x2 496.2720947265625,
                                   :y2 1035.171875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 1036.078125,
                                   :x2 496.3883056640625,
                                   :y2 1055.078125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 1056,
                                   :x2 496.36785888671875,
                                   :y2 1075,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 1075.90625,
                                   :x2 496.3812255859375,
                                   :y2 1094.90625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 1095.8125,
                                   :x2 293.52197265625,
                                   :y2 1114.8125,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 6},
               :content {:text "limiting length and depth of sedation, avoiding centrally acting drugs, and providing adequate analgesia via peripheral nerve blocks can decrease the risk of postoperative delirium potentially lowering morbidity and mortality."},
               :properties {:color "yellow"}}
              {:id #uuid "65dc6a35-2d70-4e6e-a01e-9e058c81122f",
               :page 6,
               :position {:bounding {:x1 97.921875,
                                     :y1 1115.71875,
                                     :x2 496.5665283203125,
                                     :y2 1174.671875,
                                     :width 1001.3383333333333,
                                     :height 1327.3233333333333},
                          :rects ({:x1 127.859375,
                                   :y1 1115.71875,
                                   :x2 496.5665283203125,
                                   :y2 1134.71875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 1135.625,
                                   :x2 496.44122314453125,
                                   :y2 1154.625,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}
                                  {:x1 97.921875,
                                   :y1 1155.671875,
                                   :x2 374.60369873046875,
                                   :y2 1174.671875,
                                   :width 1001.3383333333333,
                                   :height 1327.3233333333333}),
                          :page 6},
               :content {:text "Regional anesthesia should be performed early by a skilled provider and single injections can be safely performed in emergency department"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
