{:highlights [{:id #uuid "65e0c0ec-044d-499f-b529-548a15de2afa",
               :page 1,
               :position {:bounding {:x1 136.40625,
                                     :y1 673.1875,
                                     :x2 864.5687255859375,
                                     :y2 737.21875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 723.3023681640625,
                                   :y1 673.1875,
                                   :x2 864.5687255859375,
                                   :y2 692.1875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 137,
                                   :y1 695.640625,
                                   :x2 864.5625,
                                   :y2 714.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.40625,
                                   :y1 718.21875,
                                   :x2 384.46185302734375,
                                   :y2 737.21875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "Models describing dexmedetomidine pharmacokinetics in adults can be applied to children by accounting for size(allometry) and age (maturation)."},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c0fc-59db-4d7a-affa-62b03a4e8310",
               :page 1,
               :position {:bounding {:x1 137,
                                     :y1 740.671875,
                                     :x2 864.5620727539062,
                                     :y2 782.265625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 613.7557373046875,
                                   :y1 740.671875,
                                   :x2 864.5620727539062,
                                   :y2 759.671875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 137,
                                   :y1 763.265625,
                                   :x2 642.8086547851562,
                                   :y2 782.265625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "Lean body weight is a better size descriptor for dexmedetomidine clearance than total body weight."},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c17e-5eca-4355-a845-3b46a324c785",
               :page 9,
               :position {:bounding {:x1 163,
                                     :y1 959.140625,
                                     :x2 862.8416137695312,
                                     :y2 978.140625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 163,
                                   :y1 959.140625,
                                   :x2 862.8416137695312,
                                   :y2 978.140625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 9},
               :content {:text "Size and age were the two main covariates to describe variability in the dexmedetomidine data"},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c1a3-ba95-44f3-8592-dde3f3fec91f",
               :page 9,
               :position {:bounding {:x1 127.578125,
                                     :y1 981.734375,
                                     :x2 864.5253295898438,
                                     :y2 1023.1875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 260.5726318359375,
                                   :y1 981.734375,
                                   :x2 864.5253295898438,
                                   :y2 1000.734375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 127.578125,
                                   :y1 1004.1875,
                                   :x2 500.584716796875,
                                   :y2 1023.1875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 9},
               :content {:text "a universal population PK model for dexmedetomidine that is applicable to both children and adults with a wide range of weights."},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c1e0-cc11-48fb-865a-b927592f0a49",
               :page 10,
               :position {:bounding {:x1 127.578125,
                                     :y1 552.796875,
                                     :x2 864.5828857421875,
                                     :y2 616.828125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 571.2906494140625,
                                   :y1 552.796875,
                                   :x2 864.5828857421875,
                                   :y2 571.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 127.578125,
                                   :y1 575.25,
                                   :x2 864.5271606445312,
                                   :y2 594.25,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 127.578125,
                                   :y1 597.828125,
                                   :x2 346.41925048828125,
                                   :y2 616.828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 10},
               :content {:text "Dexmedetomidine produces a biphasic haemodynamic response [ 18 ], with hypotension at low plasma concentrations and hypertension at higher plasma concentrations."},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c1e7-f6ac-490b-80b6-29722c443d8a",
               :page 10,
               :position {:bounding {:x1 350.9758605957031,
                                     :y1 597.828125,
                                     :x2 835.6566772460938,
                                     :y2 616.828125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 350.9758605957031,
                                   :y1 597.828125,
                                   :x2 835.6566772460938,
                                   :y2 616.828125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 10},
               :content {:text "Hypertension predominates at the concentrations above 2.0 ng/ml "},
               :properties {:color "red"}}
              {:id #uuid "65e0c1f5-bb54-4c0b-b8c9-bae705aff770",
               :page 10,
               :position {:bounding {:x1 127.578125,
                                     :y1 642.875,
                                     :x2 864.5468139648438,
                                     :y2 684.328125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 466.6040954589844,
                                   :y1 642.875,
                                   :x2 864.5468139648438,
                                   :y2 661.875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 127.578125,
                                   :y1 665.328125,
                                   :x2 407.5517883300781,
                                   :y2 684.328125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 10},
               :content {:text "a more important consideration is the haemodynamic instability induced by rapid infusion."},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
