{:highlights [{:id #uuid "65e0c5df-bf16-46b0-926e-f7849e759bff",
               :page 1,
               :position {:bounding {:x1 82.53125,
                                     :y1 444.578125,
                                     :x2 481.02874755859375,
                                     :y2 516.34375,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 236.13543701171875,
                                   :y1 444.578125,
                                   :x2 351.78125,
                                   :y2 461.578125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 362.515625,
                                   :y1 444.578125,
                                   :x2 481.02874755859375,
                                   :y2 461.578125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 352,
                                   :y1 452.1875,
                                   :x2 360.515625,
                                   :y2 463.1875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 462.828125,
                                   :x2 481.011962890625,
                                   :y2 479.828125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 481.21875,
                                   :x2 481.0242919921875,
                                   :y2 498.21875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 499.34375,
                                   :x2 287.37933349609375,
                                   :y2 516.34375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "highly selective a2 adrenergic receptor agonist drug with unique sedative, anxiolytic and antinociceptive properties, inducing a sympatholytic effect with minimal respiratory depression"},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c602-ae60-40f6-9726-dce0b4f87b68",
               :page 1,
               :position {:bounding {:x1 82.53125,
                                     :y1 718.671875,
                                     :x2 481.03070068359375,
                                     :y2 863.453125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 307.66644287109375,
                                   :y1 718.671875,
                                   :x2 480.9970703125,
                                   :y2 735.671875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 736.796875,
                                   :x2 481.007568359375,
                                   :y2 753.796875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 755.046875,
                                   :x2 480.923583984375,
                                   :y2 772.046875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 773.4375,
                                   :x2 131.97853088378906,
                                   :y2 790.4375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 142.359375,
                                   :y1 773.4375,
                                   :x2 481.03070068359375,
                                   :y2 790.4375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 132.046875,
                                   :y1 780.921875,
                                   :x2 141.15625,
                                   :y2 791.921875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 791.6875,
                                   :x2 480.9915771484375,
                                   :y2 808.6875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 809.9375,
                                   :x2 220.12432861328125,
                                   :y2 826.9375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 231.359375,
                                   :y1 809.9375,
                                   :x2 481.0283203125,
                                   :y2 826.9375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 220.25,
                                   :y1 817.421875,
                                   :x2 229.453125,
                                   :y2 828.421875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 828.0625,
                                   :x2 481.0262451171875,
                                   :y2 845.0625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.53125,
                                   :y1 846.453125,
                                   :x2 116.4947509765625,
                                   :y2 863.453125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "iphasic, dose-dependent response in blood pressure, initially with temporary hypertension due to the activation of peripheral postsynaptic alpha-2b adrenergic receptors and vasoconstriction followed by a decrease in the blood pressure and heart rate resulting from central alpha-2a adrenergic receptors stimulated sympatholysis and baroreﬂex-mediated parasympathetic activation. "},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c642-8c54-473e-b7a0-5f506c07683d",
               :page 1,
               :position {:bounding {:x1 510.9375,
                                     :y1 481.21875,
                                     :x2 909.4779052734375,
                                     :y2 552.984375,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 596.9971923828125,
                                   :y1 481.21875,
                                   :x2 909.3741455078125,
                                   :y2 498.21875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 499.34375,
                                   :x2 909.4058227539062,
                                   :y2 516.34375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 517.59375,
                                   :x2 909.4779052734375,
                                   :y2 534.59375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 528,
                                   :y1 534.34375,
                                   :x2 545.15625,
                                   :y2 545.34375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 535.984375,
                                   :x2 527.762451171875,
                                   :y2 552.984375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "PKPD model with allometric scaling and hemodynamic and BIS predictive parameters, which supports the safe use of effect-site concentrations up to 2 ng. ml1 "},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c722-5aff-434c-a7f9-c3589e08eafc",
               :page 2,
               :position {:bounding {:x1 510.9375,
                                     :y1 328.703125,
                                     :x2 909.533447265625,
                                     :y2 363.953125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 828.125,
                                   :y1 328.703125,
                                   :x2 909.533447265625,
                                   :y2 345.703125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 346.953125,
                                   :x2 813.3094482421875,
                                   :y2 363.953125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 2},
               :content {:text "The EEG signatures of dexmedetomidine are well known"},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c728-8139-4d68-8570-fb81b89c7888",
               :page 2,
               :position {:bounding {:x1 510.9375,
                                     :y1 365.078125,
                                     :x2 909.4090576171875,
                                     :y2 400.46875,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 510.9375,
                                   :y1 365.078125,
                                   :x2 909.4090576171875,
                                   :y2 382.078125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 383.46875,
                                   :x2 673.7210693359375,
                                   :y2 400.46875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 2},
               :content {:text "applied to titrate the effect-site target concentrations calculated by the TCI pump"},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c72f-9c75-44b3-ba40-cced471a3aba",
               :page 2,
               :position {:bounding {:x1 510.9375,
                                     :y1 383.46875,
                                     :x2 909.1451416015625,
                                     :y2 418.71875,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 776.8580322265625,
                                   :y1 383.46875,
                                   :x2 909.1451416015625,
                                   :y2 400.46875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 401.71875,
                                   :x2 829.733642578125,
                                   :y2 418.71875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 2},
               :content {:text "presence of a dominant alpha activity with short, regular spindles "},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c7d6-c188-49e2-b6d1-77652556d80e",
               :page 2,
               :position {:bounding {:x1 510.9375,
                                     :y1 547.765625,
                                     :x2 909.381591796875,
                                     :y2 583.140625,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 662.1280517578125,
                                   :y1 547.765625,
                                   :x2 909.381591796875,
                                   :y2 564.765625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 566.140625,
                                   :x2 743.1521606445312,
                                   :y2 583.140625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 2},
               :content {:text "ovel concept of multimodal general anesthesia or multimodal sedation"},
               :properties {:color "yellow"}}
              {:id #uuid "65e0c7ee-18a1-499a-a4cd-3d7d8016b624",
               :page 2,
               :position {:bounding {:x1 510.9375,
                                     :y1 693.9375,
                                     :x2 909.446044921875,
                                     :y2 802.203125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 530.875,
                                   :y1 693.9375,
                                   :x2 908.534423828125,
                                   :y2 710.9375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 712.1875,
                                   :x2 909.3873291015625,
                                   :y2 729.1875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 730.578125,
                                   :x2 909.34814453125,
                                   :y2 747.578125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 748.703125,
                                   :x2 909.364501953125,
                                   :y2 765.703125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 766.953125,
                                   :x2 909.446044921875,
                                   :y2 783.953125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 785.203125,
                                   :x2 639.5330810546875,
                                   :y2 802.203125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 2},
               :content {:text "A plausible strategy could be to combine dexmedetomidine and propofol target-controlled infusions with ketamine and/or eventually opioids like remifentanil, with balanced dosing titrated to the intended endpoint of arousal depression and/or antinociception which are dynamic during the entire procedure. "},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
